.calc {
    max-width: 400px;
    border-radius: 15px;
    margin: 30px auto;
    padding: 20px;
    background-color: slategray;
  }
  
.display {
    min-height: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: lightblue;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: right;
  }
  
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}

.span-2 {
    grid-column: span 2;
  }